
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    justify-content: center; /* Centraliza verticalmente */
    background: linear-gradient(to right, #B0C4DE, #4682B4);
    font-family: "Open Sans", sans-serif;
}

.header-container {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 50%; /* Posiciona o cabeçalho no meio da página */
    transform: translateX(-50%); /* Ajusta para garantir que esteja centralizado */
    z-index: 10;
}
.header-content {
    display: flex;
    flex-direction: row; /* Alinha o título e o placar horizontalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    width: 100%;
}

.game-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

.game-scoreboard {
    display: flex;
    flex-direction: row; /* Mudança para alinhar placar horizontalmente */
    align-items: center;
    margin-left: 120px; /* Espaço entre o título e o placar */
}

.scoreboard-text {
    font-size: 1rem;
    color: #333;
}

.scoreboard-score {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4682B4;
    margin-left: 5px; /* Espaço entre o texto "Placar:" e o número */

}


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    text-align: center;
}

.botoes {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.botoes button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    text-align: center;
    transition: transform 0.2s, filter 0.2s;
}

.botoes img {
    width: 200px; /* Aumenta o tamanho das imagens dos movimentos */
    height: 200px;
    transition: filter 0.2s;
}

.botoes button:hover img {
    transform: translateY(-10px);
    filter: brightness(0.8);
    background-color: #4682B4;
    border-radius: 10px;
}

.controle {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.controle button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, filter 0.3s;
}

.controle button:hover {
    filter: brightness(0.8);
}

.controle button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.controle .jogar-novamente {
    background-color: #007bff;
    color: #fff;
}

.controle .encerrar-jogo {
    background-color: #dc3545;
    color: #fff;
}

.controle .jogar-novamente:hover {
    background-color: #0056b3;
}

.controle .encerrar-jogo:hover {
    background-color: #c82333;
}

.resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.resultado h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.escolhas {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.movimento {
    text-align: center;
    margin: 0 20px;
}

.movimento img {
    width: 200px; /* Aumenta o tamanho das imagens dos movimentos */
    height: 200px;
    object-fit: cover;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 0.75rem;
    color: #333;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    text-align: left;
    z-index: 10;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}


/* Ajustes no card de estatísticas para aumentar o tamanho */
.estatisticas-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 12px; /* Aumenta o arredondamento das bordas */
    padding: 30px; /* Aumenta o padding interno do card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aumenta a sombra do card */
    max-width: 600px; /* Define uma largura máxima para o card */
    margin: 20px; /* Adiciona margem ao redor do card */
}

.estatisticas-card h2 {
    margin-top: 0;
    font-size: 2rem; /* Aumenta o tamanho da fonte do título */
}

.estatisticas-card p {
    font-size: 1.2rem; /* Aumenta o tamanho da fonte dos textos */
    margin: 10px 0; /* Aumenta o espaço entre os itens */
}

.estatisticas-card button {
    padding: 12px 25px; /* Aumenta o padding do botão */
    margin-top: 15px; /* Aumenta a margem superior do botão */
    cursor: pointer;
    border: none;
    border-radius: 8px; /* Aumenta o arredondamento das bordas do botão */
    background-color: #007bff;
    color: white;
    font-size: 1rem; /* Aumenta o tamanho da fonte do botão */
    transition: background-color 0.3s;
}
.estatisticas button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }

.estatisticas-card button:hover {
    background-color: #0056b3;

}

.aviso {
    color: #dc3545; 
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
}

